<div class="container">
  <div class="row l2"></div>
  <form class="row l8" ng-submit="registroCtrl.guardarRegistro(registro)">
    <h3> Nuevo Registro </h3>

    <div class="input-field">
      <input id="nombre" type="text" class="validate" required ng-model="registro.nombre">
      <label for="first_name">Nombre</label>
    </div>

    <div class="input-field">
      <input id="correo" type="email" class="validate" required ng-model="registro.correo">
      <label for="correo">Correo</label>
    </div>

    <div class="input-field">
      <input id="contrasena" type="password" class="validate" required ng-model="registro.contrasena">
      <label for="contrasena">Contraseña</label>
    </div>

    <button class="btn waves-effect waves-light red darken-4" type="submit">Enviar</button>
  </form>
  <div class="row l2"></div>
</div>
{{ registro }}
