<div class="container">
  <div class="row l2"></div>
  <div class="row l8">
    <h3> Nuevo Registro </h3>

    <div class="input-field">
      <input id="nombre" type="text" class="validate" >
      <label for="first_name">Nombre</label>
    </div>

    <div class="input-field">
      <input id="correo" type="text" class="validate" >
      <label for="correo">Correo</label>
    </div>

    <div class="input-field">
      <input id="contrasena" type="password" class="validate" >
      <label for="contrasena">Contraseña</label>
    </div>

    <button class="btn waves-effect waves-light red darken-4" type="submit">Enviar</button>
  </div>
  <div class="row l2"></div>
</div>
